# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 테스트용 파일
/public/blog/[20240101]_[제목을 입력합니다.]_[카테고리]_[kotlin java springboot mysql docker redis]_[책썸네일.png].md
