.container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    font-size: 36px;
    margin-bottom: 50px;
    border: solid 1px red;
}

@media (max-width: 580px) {
    .infos {
        border: solid 1px green;
        width: auto;
    }
}

.content {
    color: #434040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    width: 580px;
    border: solid 1px yellow;
}

@media (max-width: 580px) {
    .content {
        border: solid 1px green;
        width: auto;
    }
}

/**
 블로그 게시글의 코드 블럭 스타일을 커스텀 합니다.
 */
.preContainer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.preTop {
    display: flex;
    align-items: center;
    height: 36px;
    margin: 0;
    padding: 0;
    background-color: #494949;
    border-radius: 6px 6px 0 0;
}

.circle {
    margin-left: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.circleRed {
    background-color: #e83e3e;
}

.circleYellow {
    background-color: #eccf21;
}

.circleGreen {
    background-color: #16cf16;
}

.language {
    font-family: "Mono";
    color: #c1bfbf;
    margin-left: 10px;
    margin-top: 4px;
}

.preBottom {
    margin: 0;
    padding: 0;
}

.preBottom > code {
    font-family: "Mono";
    border-radius: 0 0 6px 6px;
}

.preBottom > code > span {
    font-family: "Mono";
}


/**
 블로그 게시글 여러 마크다운 요소들을 커스텀 합니다.
 */
.content > p {
    margin: 0;
    line-height: 1.5; /* 줄 간격을 1.5배로 설정 */
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    margin: 0 0 8px 0;
}

.content > blockquote {
    margin: 10px 20px 0 20px;
    padding: 10px;
    border-left: solid 4px #3c5cff;
    border-radius: 4px;
    background-color: #eff0f4;
}
.content > blockquote > p {
    margin: 0;
    line-height: 1.5; /* 줄 간격을 1.5배로 설정 */
}

.ulContainer {
}

.liContainer {
    display: flex;
    align-items: self-start;
    margin-bottom: 8px;
}

.dot {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #7c5e87;
}

