.container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 240px;
}

.infos {
    display: flex;
    flex-direction: column;
    width: 580px;
    font-size: 36px;
    margin-bottom: 50px;
}

@media (max-width: 580px) {
    .infos {
        width: auto;
    }
}

.thumbnailContainer {
    width: 100%;
    height: auto;
}

.thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}



.content {
    color: #434040;
    display: flex;
    flex-direction: column;
    width: 580px;
    justify-content: center;
    align-items: self-start;
}

@media (max-width: 580px) {
    .content {
        width: 100%;
    }
}

.infoTitle {
    color: #434040;
    margin-bottom: 10px;
}
@media (max-width: 580px) {
    .infoTitle {
        font-size: 24px;
    }
}

.infoSub {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.infoCategoryTag {

}
.infoCategory {
    color: #434040;
    margin-bottom: 10px;
}
.infoTags {
    display: flex;
    flex-wrap: wrap;
}
.infoTag {
    color: #0072f6;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #e3f1ff;
    padding: 2px 10px 2px 10px;
    border-radius: 4px;
}
.infoDate {
    color: #434040;
}


/**
 블로그 게시글 여러 마크다운 요소들을 커스텀 합니다.
 */
.content * {
    margin: 0;
    padding: 0;
}
.content img {
    width: 100%;
    height: 100%;
}

.content a {
    color: #7438d1;
    text-decoration: underline;
}

.content blockquote {
    margin-top: 4px;
}

.content mark {
    color: white;
    background-color: #7438d1;
    /*background-color: #efc936;*/
    padding: 2px 8px;
    display: inline-block; /* 블록 속성으로 처리 */
    /*transform: skew(-6deg); !* 배경을 왼쪽으로 10도 기울이기 *!*/
    border-radius: 2px;
}

.content u {
    text-decoration: none;
    position: relative;
}

.content i {
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;

    color: #e83263;
}


.content ul {
 margin-top: 8px;
}

p {
    line-height: 1.5; /* 줄 간격을 1.5배로 설정 */
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    margin: 0 0 8px 0;
}

.content > blockquote {
    width: 100%;
    padding: 10px;
    border-left: solid 4px #3c5cff;
    border-radius: 4px;
    background-color: #eff0f4;
}

blockquote {
    margin: 0;
}

.content > blockquote > p {
    margin: 0;
    line-height: 1.5; /* 줄 간격을 1.5배로 설정 */
}

.ulContainer {
}

.liContainer {
    display: flex;
    align-items: self-start;
    margin-bottom: 8px;
}

.dot {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #7c5e87;
}


/**
 블로그 게시글의 코드 블럭 스타일을 커스텀 합니다.
 */
.preContainer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.preTop {
    display: flex;
    align-items: center;
    height: 36px;
    margin: 0;
    padding: 0;
    background-color: #494949;
    border-radius: 6px 6px 0 0;
}

.circle {
    margin-left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.circleRed {
    background-color: #e83e3e;
}

.circleYellow {
    background-color: #eccf21;
}

.circleGreen {
    background-color: #16cf16;
}

.language {
    font-family: "Mono";
    color: #c1bfbf;
    margin-left: 10px;
    margin-top: 4px;
}

.preBottom {
    margin: 0;
    padding: 0;
}

.preBottom > code {
    font-family: "Mono";
    border-radius: 0 0 6px 6px;
}

.preBottom > code > span {
    font-family: "Mono";
}

/**
 우측 스크롤 nav 바 커스텀
 */
.scrollNav {
    position: fixed; /* 고정 위치 */
    right: 50%; /* 오른쪽 여백 */
    top: 30%; /* 위쪽 여백 */
    transform: translate(300%);
    background-color: white; /* 배경색 */
    padding: 10px; /* 패딩 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

.scrollNav ul {
    list-style: none; /* 기본 목록 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
}

.scrollNavButton {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}