.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 200px;
    color: #878787;
    background-color: #494949;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .links > li {
        font-size: 10px;
    }
}

.links > li:first-child {
    font-size: 30px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .links > li:first-child {
        font-size: 20px;
    }
}

.info {
    display: flex;
    margin-right: 30px;
}

.info > li {
    margin-left: 30px;
}

@media (max-width: 768px) {
    .info > li {
        font-size: 10px;
        margin-left: 4px;
    }
}