.header {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 768px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu > li {
    margin: 10px;
    font-size: 20px;
}

.navLink {
    cursor: pointer !important;
}